{% extends "club/base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to BTV Officers Club</h1>
    <p>Promoting Excellence and Fellowship</p>
</div>

<div id="about" class="my-5">
    <h2>About Us</h2>
    <p>Details about the BTV Officers Club...</p>
</div>

<div id="notices" class="my-5">
    <h2>Notice Board</h2>
    <ul>
        {% for notice in notices %}
            <li>{{ notice.title }} - {{ notice.date }}</li>
        {% endfor %}
    </ul>
</div>

<div id="committee" class="my-5">
    <h2>Committee Members</h2>
    <div class="row">
        {% for member in members %}
            <div class="col-md-3 text-center">
                <img src="{{ member.image.url }}" class="img-fluid rounded-circle" alt="{{ member.name }}">
                <h5>{{ member.name }}</h5>
                <p>{{ member.position }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<div id="gallery" class="my-5">
    <h2>Gallery</h2>
    <div class="row">
        {% for image in gallery %}
            <div class="col-md-4">
                <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.title }}">
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
